@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 6rem;
}

body {
}

@layer base {
  h1,
  .h1 {
    @apply my-4 text-3xl font-semibold sm:text-4xl md:text-5xl md:font-bold lg:text-6xl;
  }

  h2,
  .h2 {
    @apply my-2 text-xl sm:text-2xl md:text-3xl lg:text-4xl;
  }

  h3,
  .h3 {
    @apply my-1 text-xl md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-lg md:text-xl;
  }

  h5,
  .h5 {
    @apply text-sm md:text-base;
  }
  h6,
  .h6 {
    @apply text-sm;
  }

  section {
    @apply mt-[var(--navbar-height)] min-h-[calc(100dvh-var(--navbar-height))] p-4 lg:px-16 xl:px-32 2xl:px-48;
  }
}

@layer components {
  a.underline-gradient-link {
    @apply hover:after:bg-primary/75
      focus:after:bg-primary/75
      active:after:bg-primary/75

      relative
      transition-all
      duration-300

      ease-in-out
      after:absolute
      after:bottom-[-0.1em]
      
      after:left-0

      after:h-[0.1em]
      after:w-0 
      after:transition-all 
      after:duration-500 
      after:ease-in-out 
      after:content-[""]
      hover:after:w-full
      focus:after:w-full
      active:after:w-full;
  }
  #header {
    @apply border-primary-dark bg-light fixed left-0 right-0 top-0 z-50
      flex h-[var(--navbar-height)] w-full items-center justify-between border-b p-4 lg:px-16 xl:px-32 2xl:px-48;
  }

  #footer {
    @apply border-primary-dark 
      bg-light flex h-[calc(var(--navbar-height)*2/3)] items-center justify-between border-t p-4 md:h-[var(--navbar-height)] lg:px-16 xl:px-32 2xl:px-48;
  }

  .hero-bg {
    @apply md:absolute md:bottom-[6rem] md:left-1/2 md:top-1/2 md:block md:h-1/2 md:w-1/2 md:-translate-y-1/2 md:bg-[url('/hero-bg.png')] md:bg-cover md:bg-center md:bg-no-repeat;
  }

  .btn {
    @apply transition duration-300 ease-in-out;
  }

  .btn-large {
    @apply rounded-lg px-8 py-4 text-lg uppercase tracking-wide hover:scale-110;
  }

  .btn-small {
    @apply rounded-md px-4 py-2 text-sm hover:scale-105;
  }

  .btn-outline {
    @apply border-primary-dark text-dark/50 hover:from-primary-dark hover:to-dark/80 hover:text-light border-2 transition duration-500 ease-in-out hover:scale-100 hover:bg-gradient-to-r;
  }

  .btn-gradient {
    @apply from-primary to-primary-light text-light bg-gradient-to-r font-bold;
  }
}
