@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 6rem;
}

body {
}

@layer base {
  h1,
  .h1 {
    @apply my-4 text-3xl font-semibold text-primary-dark sm:text-4xl md:text-5xl md:font-bold lg:text-6xl;
  }

  h2,
  .h2 {
    @apply my-2 text-xl text-primary-dark sm:text-2xl md:text-3xl lg:text-4xl;
  }

  h3,
  .h3 {
    @apply my-1 text-xl text-primary-dark md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-lg text-primary-dark md:text-xl;
  }

  h5,
  .h5 {
    @apply text-sm text-primary-dark md:text-base;
  }
  h6,
  .h6 {
    @apply text-sm text-primary-dark;
  }

  p {
    @apply text-primary-dark;
  }

  section {
    @apply p-4 lg:px-16 xl:px-32 2xl:px-48;
  }
  section.section-top {
    @apply mt-[var(--navbar-height)] min-h-[calc(100dvh-var(--navbar-height))];
  }
}

@layer components {
  #header {
    @apply fixed left-0 right-0 top-0 z-[1000] flex h-[var(--navbar-height)]
      w-full items-center justify-between border-b border-primary-dark bg-light p-4 lg:px-16 xl:px-32 2xl:px-48;
  }

  #footer {
    @apply flex 
      h-[calc(var(--navbar-height)*2/3)] items-center justify-between border-t border-primary-dark bg-light p-4 md:h-[var(--navbar-height)] lg:px-16 xl:px-32 2xl:px-48;
  }

  /** hero */
  .hero-bg {
    @apply md:absolute md:bottom-[6rem] md:left-1/2 md:top-1/2 md:block md:h-1/2 md:w-[44%] md:-translate-y-1/2 md:bg-[url('/hero-bg.png')] md:bg-cover md:bg-center md:bg-no-repeat;
  }

  /** button */
  .btn {
    @apply transition duration-300 ease-in-out;
  }

  .btn-large {
    @apply rounded-lg px-8 py-4 text-lg uppercase tracking-wide hover:scale-110;
  }

  .btn-small {
    @apply rounded-md px-4 py-2 text-sm hover:scale-105;
  }

  .btn-outline {
    @apply border-2 border-gray-300 text-dark/50 transition duration-500 ease-in-out hover:scale-100 hover:bg-gradient-to-r hover:from-primary-dark hover:to-dark/80 hover:text-light;
  }

  .btn-gradient {
    @apply bg-gradient-to-r from-primary to-primary-light font-bold text-light;
  }

  /** link */
  .underline-gradient-link {
    @apply relative
      transition-all
      duration-300

      ease-in-out
      after:absolute
      after:bottom-[-0.1em]

      after:left-0
      after:h-[0.1em]
      after:w-0
      
      after:transition-all

      after:duration-500
      after:ease-in-out 
      after:content-[""] 
      hover:after:w-full 
      hover:after:bg-primary/75 
      focus:after:w-full
      focus:after:bg-primary/75
      active:after:w-full
      active:after:bg-primary/75;
  }

  /** text */
  .text-gradient {
    @apply bg-gradient-to-r from-primary-dark to-primary-light bg-clip-text font-bold text-transparent;
  }

  /** SearchBar */
  .search-make-combo-wrapper {
    min-width: 8rem;
    @apply rounded-lg bg-gray-100 p-2 outline-none sm:w-[50vw];
  }

  .search-model-input {
    min-width: 8rem;
    max-width: 100%;
    @apply h-12 rounded-lg bg-white p-2 outline-none sm:w-[25vw];
  }

  /** MobileMenu */
  .mobile-menu {
    @apply absolute bottom-0 left-0 right-0 top-[var(--navbar-height)] z-[1000] flex h-[calc(100vh-var(--navbar-height))] flex-col items-center justify-center bg-gradient-to-r from-primary to-primary-light;
  }
}
